.ChartInput
{
}
#button-addon1
{
	background-color:#ff6384;
}
#button-addon2
{
	background-color: #36a2eb;
}
#button-addon3
{
	background-color: #ffce56;
}
#button-addon4
{
	background-color: #4bc0c0;
}